<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="modules.xposed.androiod.sfylabs.nl.dynamicmethodcall">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Dynamically call methods" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />

        <service android:name="modules.xposed.android.sfylabs.nl.dynamicmethodcall.server.ServerService" />
        <service android:name="modules.xposed.android.sfylabs.nl.dynamicmethodcall.server.ResultIntentService" android:exported="true">
            <intent-filter>
                <action android:name="RESULT"/>
            </intent-filter>
        </service>
        <receiver android:name="modules.xposed.android.sfylabs.nl.dynamicmethodcall.server.StartServerBroadReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity android:name="modules.xposed.android.sfylabs.nl.dynamicmethodcall.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>